.footer {
    &-contact {
        height: 100vh;
        contain: paint;
        
        z-index: 1;

        .marquee {
            position: sticky;
            top: 0;
        }

        &-sticky {
            height: 200vh;
            flex-shrink: 0;
        }

        &-container {
            position: sticky;
            top: 8.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            height: calc(100vh - 8.5rem);
        }
        &-work {
            font-size: 23rem;
            line-height: 1em;
            text-transform: uppercase;
            font-style: italic;
            margin-bottom: -4rem;

            text-align: center;
            transition: letter-spacing .4s ease, color .2s ease-out;
            will-change: color, letter-spacing;
        }

        &-withme {
            font-size: 16.8rem;
            line-height: 1em;
            text-transform: uppercase;
            text-align: center;
        }

        &-link {
            &:hover {
                .footer-contact-work {
                    letter-spacing: .1em;
                    color: $cl-red;
                }
            }
        }
    }

    &-git {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        z-index: 2;
        background-color: var(--cl-white);

        &-container {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            flex-grow: 1;
        }

        &-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding-block: var(--container-padding);

            &-logo {
                display: flex;
                
                &-link {
                    height: 5.8rem;

                    @include logoCl;
                }
            }

            &-ic {
                display: flex;

                @include size(39rem);

                grid-column: 1/2;
                grid-row: 1/2;
                opacity: 0;
                pointer-events: none;

                &.active {
                    opacity: 1;
                    pointer-events: auto;
                }

                &-wrapper {
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-items: center;

                    @include logoCl;
                }
            }
        }

        &-right {
            margin-right: calc(-1 * var(--container-padding));

            &-circle {
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translate(-50%, 50%);
                @include size(85vh);

                &-wrapper {
                    position: relative;
                    contain: paint;

                    height: 50%;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 50%;

                padding-inline: var(--container-padding);
                padding-bottom: var(--container-padding);

                &-info {
                    position: relative;
                    width: 100%;
                    margin-bottom: var(--container-padding);
                    overflow: hidden;

                    &-link {
                        display: inline-flex;
                        
                        &:nth-child(n+2) {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        @for $i from 1 through 3 {
                            &:nth-child(#{$i}) {
                                top: ($i - 1) * 100%;
                            }
                        }
                    }
                }
                
                &-social {
                    display: flex;
                    column-gap: 4rem;
                    text-transform: uppercase;

                    &-link {
                        &-txt {
                            position: relative;
                            transition: color .3s ease;
                            will-change: color;

                            &::before {
                                content: "";
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 0;

                                background-color: currentColor;
                                @include size(100%, .1rem);

                                transform: scaleX(0);
                                transform-origin: right;
                                transition: transform .4s ease-in-out;
                                will-change: transform;
                            }

                            &.active::before {
                                transform: scaleX(1);
                                transform-origin: left;
                            }

                            &.email {
                                &.active, &:hover {
                                    color: $cl-red;
                                }
                            }
                            &.zalo {
                                &.active, &:hover {
                                    color: $cl-green;
                                }
                            }
                            &.facebook {
                                &.active, &:hover {
                                    color: $cl-blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}