
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Font


html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
    
    --fs-global: 0.6944444444444444vw;
    --container-padding: 4rem;
    
    font-family: 'NeueMachina', sans-serif;
    font-size: var(--fs-global);


    color: var(--cl-black);
    background-color: var(--cl-white);
    
}
.main {
    --header-height: 0px;

    margin-top: calc(-1 * var(--header-height));
    contain: paint;
}
html.lenis, html.lenis body {
    height: auto;
    min-height: 100%;

    -ms-scroll-chaining: none;
    overscroll-behavior: none;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


body {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
button, input, textarea {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
}
button {
    cursor: pointer;
}

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.grid {
    --grid-column: 16;
    --grid-gap: 2rem;
    display: grid;
    column-gap: var(--grid-gap);
    grid-template-columns: repeat(var(--grid-column), 1fr);
}
.swiper,
.swiper-wrapper,
.swiper-slide {
    width: 100%;
}
.swiper-slide {
    height: auto;
}

.g-lines {
    white-space: nowrap;
}
.marquee {
    position: relative;
    padding-block: 2rem;
    display: flex;
    contain: paint;

    &.marquee-sm {
        padding-block: 1rem;

        .marquee-item {
            column-gap: 1.6rem;
            padding-left: 1.6rem;
        }
    }

    &-txt {
        text-transform: uppercase;
        line-height: 1em !important;
    }

    &-logo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;

        @include size(4rem);
        @include logoCl;

        &-item {
            position: relative;
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;

            @include size(100%);

            &.logo-K {
                z-index: 4;
            }
            &.logo-O {
                z-index: 2;
            }
            &.logo-M {
                z-index: 3;
            }
            &.logo-A {
                z-index: 1;
            }
        }
    }
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-item {
        display: flex;
        align-items: center;
        column-gap: 4rem;
        padding-left: 4rem;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &-dot {
        background-color: var(--cl-black);
        border-radius: 100vmax;

        @include size(1rem);
    }
}

.circle-svg {
    .circle {
        &-smile {
            color: $cl-red;
        }

        &-text {

        }
    }
}

html {
    --line-width: 2px;
    --heading-width: 62rem;
    --text-width: 50rem;
}

.line {
    background-color: var(--cl-black);
    @include size(100%, var(--line-width));

    &-fluid {
        position: absolute;

        &-top {
            top: calc(var(--line-width)/ -2);
            left: 0;
        }
        &-bot {
            bottom: calc(var(--line-width)/ -2);
            left: 0;
        }
    }

    &-mid {
        position: absolute;
        top: 0px;
        left: calc(50% - var(--line-width)/2);
        @include size(var(--line-width), 100%);
    }
}

.hover {

    &-line {
        position: relative;
        overflow: hidden;

        &::before {
            content: '';

            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            @include size(100%, var(--line-width));

            transform: scaleX(0);
            background-color: var(--cl-black);

            transform-origin: right;
            transition: transform ease-in .3s;
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}
.txt {
    &-hl {
        color: $cl-red;
    }
}
.embed-svg {
    display: inline-block;
    width: 1.5rem;
    margin-right: 2.5rem;
    color: $cl-red
}

.custome-scroll {
    overflow-y: auto;
    overflow-x: clip;
    scroll-behavior: smooth;
    // &::-webkit-scrollbar {
    //     width: 0.3rem;
    //     @media only screen and (max-width: 476px) {
    //         width: 3px;
    //     }
    // }
    // &::-webkit-scrollbar-track {
    //     background: rgba($cl-bg, .2);
    // }
    // &::-webkit-scrollbar-thumb {
    //     background: rgba($cl-primary, 1);
    // }
}

.scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    @include size(.6rem, 100%);
    opacity: 0;
    transition: opacity .4s ease-in-out;
    will-change: opacity;

    &.isScrolling {
        opacity: 1;
    }

    &-inner {
        background-color: $cl-red;
        @include size(100%);
        transform-origin: top;
        will-change: transform;
    }
}

.cursor {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(0px); 
    z-index: 9999;
    pointer-events: none;
    mix-blend-mode: difference;

    &-dot {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cl-black);
        border-radius: 100vmax;
        @include size(3.6rem);

        &-inner {
            background-color: var(--cl-white);
            border-radius: 100vmax;
            @include size(.6rem);
        }
    }
}