@font-face {
    font-family: 'NeueMachina';
    src: url('./NeueMachina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'NeueMachina';
    src: url('./NeueMachina-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'NeueMachina';
    src: url('./NeueMachina-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'NeueMachina';
    src: url('./NeueMachina-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'NeueMachina';
    src: url('./NeueMachina-Ultrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

