
.home {
    &-hero {
        position: relative;        
        display: flex;
        height: 100vh;
        z-index: 1;

        @include logoCl;

        &-wrap {
            display: flex;
            align-self: end;
            column-gap: 2.73rem;
            margin-bottom: var(--container-padding);

            width: 100%;
        }

        &-ic {
            display: flex;
            flex-grow: 1;

            &.logoK {
                margin-right: -2.73rem;
            }
        }
    }
    
    &-preamble {
        position: relative;

        background-color: var(--cl-white);
        z-index: 2;

        // backdrop-filter: blur(6rem);

        &-wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-bottom: 15rem;
        }

        &-title {
            max-width: var(--heading-width);

            &-wrap {
                grid-column: 1/2;
                padding-top: var(--container-padding);
            }
        }

        &-content {
            position: relative;
            padding-left: var(--container-padding);
            padding-top: var(--container-padding);
            padding-bottom: var(--container-padding);

            &-wrap {
                margin-right: calc(var(--container-padding) * -1);
            }

            &-txt {
                max-width: var(--text-width);
            }
        }
    }

    &-someshit {
        height: 700vh;
        contain: paint;

        &-content {
            position: relative;
            padding-inline: var(--container-padding);
            padding-top: var(--container-padding);
            
            &-wrapper{
                position: relative;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            &-left {
                grid-column: 1/2;
            }
            
            &-right {
                grid-column: 2/3;
            }

            &-txt {
                max-width: var(--text-width);
                padding-bottom: var(--container-padding);
            }
        }
        
        &-stick {
            position: sticky;
            display: flex;
            align-items: center;
            justify-content: center;
            top: var(--header-height);
            @include size(100%, calc(100vh - var(--header-height)));
            contain: paint;
        }

        &-circle {
            display: flex;
            position: absolute;

            width: 85rem;

            &.top {
                right: 0;
                transform: translate(50%, -50%);
            }
            &.bot {
                left: 0;
                bottom: 0;
                transform: translate(-50%, 50%);
            }
        }

        &-card {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-block: 2.5vh;
            padding-inline: calc(2vh * 1.3);
            background-color: $cl-red;
            opacity: 0;
            pointer-events: none;
            contain: paint;

            @include size(100%);

            transition: transform .5s ease-out;
            will-change: transform;

            &.active {
                opacity: 1;
                pointer-events: auto;
            }

            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    z-index: 10 - $i;
                }
            }

            &-rotate {
                @include size(100%);
                will-change: transform;
                perspective: 1500px;
            }

            &-wrapper {
                position: relative;
                
                perspective: 1500px;
                @include size(45vh, 55vh);

                &.flip-1 {
                    .home-someshit-card.card-front {
                        transform: rotateY(180deg);
                    }
                    .home-someshit-card.card-back {
                        transform: rotateY(360deg);
                    }

                    &.flip-2 {
                        .home-someshit-card.card-front {
                            transform: rotateY(360deg);
                        }
                        .home-someshit-card.card-back {
                            transform: rotateY(540deg);
                        }
                        &.flip-3 {
                            .home-someshit-card.card-front {
                                transform: rotateY(540deg);
                            }
                            .home-someshit-card.card-back {
                                transform: rotateY(720deg);
                            }
                        }
                    }
                }
                
                
            }

            &-txt {
                align-self: start;
                font-size: 4vh;
                line-height: 1em;
                flex-shrink: 0;
            }

            &-logo {
                display: flex;
                width: 35vh;
                // filter: drop-shadow(var(--cl-black) 0rem 0rem 0px);
            }

            &.card-front {
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
            &.card-back {
                z-index: -1 !important;
                transform: rotateY(180deg);
            }

            &.designer {
                background-color: var(--cl-black);
                color: var(--cl-white);
            }
            &.developer {
                background-color: $cl-red;
                color: var(--cl-black);
            }
            &.interactions {
                background-color: $cl-green;
                color: var(--cl-white);
            }
            &.visuals {
                background-color: $cl-blue;
                color: var(--cl-black);
            }
        }
    }

    &-proj {
        &-item {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            column-gap: 4rem;

            padding-block: 8rem;
            padding-inline: var(--container-padding);
            transition: color .3s ease-in-out;


            &:hover {
                color: var(--curr-cl);
            }
            // @media (hover: hover) {
            // }
        }

        &-marquee {
            position: absolute;
            left: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            background: $cl-red;

            transform: translateX(100%);

            .marquee {
                background-color: var(--cl-white);

                &-ic {
                    display: flex;

                    width: 6rem;
                }
            }
        }
    }

    &-physical {
        height: 80vh;
    }
}

.test {
    height: 700vh;
}